<nav class="navbar bg-light shadow ">
    <div class="container-fluid d-flex justify-content-between mx-md-5">
        <div class="d-flex align-items-center justify-content-between ">
            <a class="navbar-brand d-flex align-items-center" href="{{ path('home') }} ">
                <img src="../../assets/logo/logo_PerfectParty.png" alt="Logo" width="60">
                <h4 class="title-text">Perfect <span class="title-party">Party</span></h4>
            </a>
            <div class="nav h4">
                <a href="{{ path('home') }}" class="nav-link title-nav p-0 mx-2">Accueil</a>
                <a href="{{ path('home') }}" class="nav-link title-nav p-0 mx-2">A Propos</a>
            </div>
        </div>
        <div class="profile">
            <li class="nav-item dropdown list-unstyled">
                <ul class="dropdown-menu">
                    {% if app.user %}
                        <li><a class="dropdown-item" href="{{ path('app_user_show',{'id':app.user.id}) }}">Profil</a>
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_reservation_index') }}">Réservations</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}

                </ul>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                         class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd"
                              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </a>
            </li>
        </div>
    </div>
</nav>